build/***
bin/**
lib/**
.vscode/***
.mypy_cache/*
.clangd
.cache
compile_commands.json

tools/coverage
tools/node_modules

*.aux
*.log
*.out
*.toc
*.synctex.gz
__latexindent_temp.tex
*.fdb_latexmk
*.fls

*.fail

src/ast/*